.img-card{
  display: block;
  width: 40%;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left:auto;
  margin-right:auto;
  position: center;
}
.img-cards {
  display:block;
  width: 80%;
  height: 80%;
  margin-left:auto;
  margin-right:auto;
}
.score {
  font-size: 5em;
}
.detail-img-card{
  height: 250px;
  width: auto;
  margin: 10px 10px;
}
.ransel {
  background-image: url('./img/ransel.png');
}
.link {
  text-decoration: none;
}
.button_bottom {
  position: fixed;
  bottom: 5%;
  z-index: 998;
  cursor: pointer;
  transition: .25s ease;
  background-color: transparent
}
.btn-rounded{
  border-radius: 50%;
}
.btn-primary {
  color:black;
  background-color:none;
}
.btn-none{
  color:black;
  background-color: transparent;
}
.btn-none:hover {
  color:black;
  background-color:none;
}

.cards{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}
.cards>img{
  display:block;
  width: 80%;
  height: 80%;
  margin-left:auto;
  margin-right:auto; 
}
.cards-detail{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}
.capitalize {
  color:black;
  text-transform: capitalize;
}
.link:hover {
  text-decoration: none;
}
.strong {
  position: absolute;
  right: 20px;
  top: 10px;
  color: white;
  background-color: red;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
}

.fixed_center_div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}